<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>입출금 페이지</h1>
<form id="depositWithdrawForm" th:attr="data-account-number=${accountNumber}">
    <label>
        <input type="radio" name="type" value="DEPOSIT" checked>입금
    </label>
    <label>
        <input type="radio" name="type" value="WITHDRAW" checked>출금
    </label>

    <br><br>

    <label for="amount">금액:</label>
    <input type="number" id="amount" name="amount" min="1" required>

    <br><br>

    <label for="memo">메모:</label>
    <input type="text" id="memo" name="memo" min="1">

    <br><br>

    <button type="submit">확인</button>
    <button type="button" onclick="history.back()">취소</button>
</form>
<script type="module" src="/js/bank/transfer.js"></script>
</body>
</html>