<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>계좌이체</h1>
<!-- 1단계: 수취 계좌 입력 -->
<form id="transferForm">
    <div class="col-md-6">
        <div id="verify-section">
            <label for="bankSelect" class="form-label">입금은행 선택</label>
            <select name="bank" id="bankSelect" class="form-select">
                <option value="">--은행 선택--</option>
                <th:block th:each="bank : ${bankTypes}">
                    <option th:value="${bank.name}" th:text="${bank.displayName}"></option>
                </th:block>
            </select>
            <span id="bankSelect-error"></span>

            <label for="accountNumber">계좌번호 입력:</label>
            <input type="text" id="accountNumber" name="accountNumber" required>

            <button type="button" id="verityBtn">계좌 검증</button>
            <span id="verify-error"></span>
        </div>

        <!-- 2단계: 검증 성공 시 노출 (금액/메모)-->
        <div id="amount-section" style="display:none;">
            <br><br>

            <label for="amount">보낼금액:</label>
            <input type="number" id="amount" name="amount" min="1" required>

            <br><br>

            <label for="memo">메모:</label>
            <input type="text" id="memo" name="memo" maxlength="30">

            <br><br>

            <button type="submit">이체하기</button>
        </div>
    </div>

    <!-- 검증된 대상 잠금/서버전달용 히든 필드-->
    <input type="hidden" name="verifiedBankCode" id="verifiedBankCode">
    <input type="hidden" name="verifiedAccountNumber" id="verifiedAccountNumber">
</form>
<script type="module" src="/js/bank/transfer.js"></script>
</body>
</html>